/* CSS reset */

html {
    box-sizing : border-box ;
  }

* , * :before , * :after {
    box-sizing : inherit ;
}

 /* end of CSS reset */

body {
  background-color: rgb(71, 4, 92);
}

img {
  background-color: rgb(68, 18, 250);
  width: 400px;
  border-style: 20px dotted;
  padding: 30px;
  margin: 20px;
}

iframe {
  background-color: rgb(104, 123, 233);
  border-radius: 50px;
  padding: 30px;
  width: 400px;
  height: 250px;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2, h3 {
    font-weight: 700;
    font-size: 2rem;
}

main {
    width: 90%;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: rgb(240, 14, 210);
    color: rgb(228, 240, 237);
}

p {
    font-size: 3rem;
}

nav {
    height: 50px;
    background-color: rgb(233, 245, 239);
    margin-bottom: 50px;
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    font-variant: all-petite-caps;
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-areas:
    "header header header header header"
    "prep image image image nutrition"
    "ingredients ingredients ingredients directions directions"
    "video video video video video";
}

.row1-head {
    grid-area: header;
    margin-bottom: 20px;
}

.row2-left {
    grid-area: prep;
    padding-left: 30px;
}
.row2-center {
    grid-area: image;
    justify-self: center;
}

.row2-right {
    grid-area: nutrition;
    padding-right: 60px;
}

.row3-left {
    grid-area: ingredients;
}

.row3-right {
    grid-area: directions;
    margin-left: 40px;
}

.row4-left {
    grid-area: video;
    padding-bottom: 40px;
}

@media (max-width: 600px;) {

    h1 {
        font-size: 1.8rem;
        min-width: 25px;
    }

    h2, h3 {
        font-size: 1.5rem;
    }

        .container {
            display: block;
            width: 100%;
        }

        img {
            border: none;
            max-width: 80%;
        }

        p {
            font-size: 1.8rem;
            width: 600px;
            max-width: 50rem;
        }

        nav {
            width: 50%;
            padding-left: 50px;
            color: aquamarine;
        }
}