

/*this is index css*/
/*adding styles and colors*/
/* CSS reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*end of CSS reset*/
/* google fonts 
font-family: 'Red Hat Mono', monospace;
*/

body {
    background-color: rgb(46, 191, 248);
}

#main-nav {
    font-variant: all-small-caps;
    font-size: 1.5rem;
}

header {
    background-image: url(/img/OBX_Beach_Sunrise.jpg);
    background-repeat: no-repeat;
}

h1, h2 {
    font-family: 'Red Hat Mono', monospace;
    color: rgb(226, 81, 154);
    font-style: italic;
    font-variant: small-caps;
}

h1 {
    font-size: 2rem;
    text-shadow: 2px;
}

h2 {
    font-size: 1.5rem;
}

p::first-letter {
    color: rgb(28, 102, 5);
    font-size: 130%;
    text-transform: uppercase;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: rgb(10, 10, 10);
}

.web-info {
    color: rgb(207, 123, 12);
}

.journey-info {
    font-style: italic;
}

ul, li {
    font-weight: bolder;
    font-variant: small-caps;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    color: rgb(238, 234, 17);
    text-decoration-style: none;
}