/* CSS reset */

html {
    box-sizing : border-box ;
  }

* , * :before , * :after {
    box-sizing : inherit ;
}

 /* end of CSS reset */

body {
  background-color: seagreen;
}

img {
  width: 530px;
  border-style: 20px ridge;
  padding: 30px;
  margin: 20px;
}

p {
  width: 520px;
  border-style: 30px dotted steelblue;
  padding: 400px;
  margin: 10px;
}

div {
  background-color: lightcoral;
  width: 540px;
  border-style: 15px solid purple;
  padding: 50px;
  margin: 10px;
}
